.table_section {
    margin-top: -50px;
}


.coins_table {
    width: 100%;
    max-width: 100%;
}

.coins_table td {
    padding: 0.75rem;
    border-top: 1px solid #ffffff0c;
    vertical-align: middle;
}
  
.coins_table thead td {
    border-top: none;
}
  
.coins_table tbody tr td {
    cursor: pointer;
}

.coins_table tbody tr:hover {
    background-color: #00000018;
    transition: var(--transition);
  }