

/*================TAGS================*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 0.95rem;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #ffffff2f; 
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff46; 
} 

body {
    background: var(--color-bg);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin: 0;
}


/*================FIX================*/

.search_input::placeholder,
.email_input::placeholder {
    color: #606483;
}
.search_input:focus {
    box-shadow: none;
}

.email_input:focus {
    box-shadow: 0px 0px 3px var(--color-accent);
    background: var(--color-input);
}
.email_input:-webkit-autofill,
.email_input:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
  }

.link:hover, 
.link:focus {
    background: var(--color-input);
}


/*================CLASSES================*/

.container {
    max-width: 1200px;
}

.pointer {
    cursor: pointer;
}


/*================VAR================*/
:root {
    --color-bg: #1e1f2f;
    --color-table : #212336;
    --color-input: #313449;
    --color-primary: #dc3545;
    --color-accent: #45b0a9;
    --color-chart: #96fff810;

    --transition: all 500ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}


/*================COLORS================*/

.color_bg {
    background: var(--color-bg);
}

.color_table {
    background: var(--color-table);
}

.color_input {
    background: var(--color-input);
}

.color_accent {
    background: var(--color-accent);
}

.gradient {
    background: linear-gradient(90deg, var(--color-primary), #4585b0, var(--color-accent));
}

.text-success {
    color: #2ab62a !important;
}


/*================MEDIA================*/
@media screen and  (max-width: 1150px) {
    .container {
        width: 95%;
    }
}

@media screen and  (max-width: 768px) {
    * {
        font-size: 1rem;
    }
}